<!DOCTYPE html>
<html>
<head>
    <title>Expense Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-page">

    <div class="form-card summary-card">

        <h2>Expense Summary by Category</h2>

        {% if data %}
        <table>
            <tr>
                <th>Category</th>
                <th>Total Amount</th>
            </tr>

            {% for item in data %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>₹ {{ item[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No summary data available.</p>
        {% endif %}

        <a href="/" class="back-link">Back to Home</a>

    </div>

</div>

</body>
</html>
